<div class="container">
  <h2 class="center">SplitBill - Dividir Cuenta</h2>

  <div class="input-section">
    <label for="nameInput">Nombre:</label>
    <input type="text" id="nameInput" [(ngModel)]="newPerson.name">
    <label for="amountInput">Dinero aportado:</label>
    <input type="number" id="amountInput" [(ngModel)]="newPerson.dineroAportado">
    <button (click)="addPerson()">Agregar Persona</button>
  </div>

  <hr>

  <h3 class="center">Personas</h3>

  <table class="center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dinero aportado</th>
        <th>Pagar / Recibir</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people; let i = index">
        <td>{{ person.name }}</td>
        <td>{{ person.dineroAportado }} €</td>
        <td>{{ person.pagarRecibir }}</td>
        <td><button (click)="deletePerson(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

  <div class="log-section">
    <h3 class="center">Registro de mensajes</h3>
    <p class="log-textarea" readonly>El coste medio fue de {{ media }} €</p>
    <p class="log-textarea" readonly [innerHTML]="logMessages"></p>

  </div>
</div>
